.main-table {
  max-height: 345px;
  overflow-y: scroll;
}

.main-table thead th {
  position: sticky; 
  top: 0; 
}

.statistics-table {
  max-height: 246px;
  overflow: hidden;
}

.archived {
  margin-left: 2.83rem;
}

.archived-btn {
  margin-left: 2.83rem;
  color: white
}

.content-cell {
  white-space: nowrap;
  max-width: 8rem; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
